<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- con el <%= title %> estamos pasando codigo desde el back hacia el front, es decir que desde la carpeta routes sale el mensaje que se muetsra en nuestro title, para esto se instaló ejs, para así extender el front con el back -->
  <title><%= title %></title>
  <!-- De esta manera indicamos ahora sí el estilo css, aparte en la dirección se coloca el / desde un inicio ya que es una dirección que no llega desde los archivos, sino que llega desde el servidor -->
  <!-- <link rel="stylesheet" href="/main.css"> -->
  <!-- Se podría dejar de esta manera, pero para evitar repetición de código en todas las demas rutas, mejor se hará un partials -->
  <%- include('partials/head') %>
</head>
<body>
  
  <!-- El - se usa para indicar que se interpretará el código, recordemos que esto es posible porque se instaló ejs -->
   <!-- Así se está insertando el código de Navigation.ejs -->
  <%- include('partials/navigation.ejs') %>

  <!-- Main Content -->
    <header class="container d-flex justify-content-center align-items-center vh-100">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/logo-lego.png" alt="Logo" class="w-25">
        <h1 class="display-1 my-5 text-uppercase fw-bold">JIJI</h1>
        <a href="/about" class="btn btn-primary w-25">About</a>
      </div>
    </header>

  <%- include('partials/footer.ejs') %>

</body>
</html>